body{
  margin: 0;
  background-color: black;
  min-width: 600px;
}
@font-face {
  font-family: warcraft;
  src: url(fonts/LifeCraft_Font.ttf);
}
@font-face {
  font-family: paragraph;
  src: url(fonts/Underdog-Regular.ttf);
}
@font-face {
  font-family: tittle;
  src: url(fonts/SpectralSC-Medium.ttf);
}
b{
  font-size: 27px;
  color: rgb(255, 255, 255);
}
b:hover{
  color: rgb(141, 141, 141);
  cursor: pointer;
  font-weight: 900;
}
h1{
  color: white;
  font-size: 100px;
  text-align: center;
  font-family: tittle;
}
h2{
  font-family: tittle;
  color: white;
  font-size: 55px;
  text-align: center;
  padding: 0;
  margin: 0;
}
h3{
  font-family: tittle;
  color: white;
  font-size: 45px;
  padding: 0;
  margin: 0;
}
p{
  color: rgb(224, 224, 224);
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}
.link_font{
  color: rgb(187, 187, 187);
  font-size: 20px;
  font-family: paragraph;
  text-decoration: none;
  transition: color 0.5s;
}
.link_font:hover{
  color: white;
}
.link_text{
  color: rgb(224, 224, 224);
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  font-weight: bold;
}
.page{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
}
.menu{
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
  height: 3rem;
  justify-content: space-around;
  align-items: center;
  opacity: 20%;
  transition: opacity 0.5s, background-color 0.7s;
}
.menu:hover{
  background-color: rgba(0, 0, 0, 0.98);
  opacity: 100%;
}
.link{
  color: aliceblue;
}
.content{
  width: 1450px;
  max-width: 1450px;
  min-width: 1450px;
  padding: 25px;
  margin: auto;
}
.tittle, .titans, .theBurningLegion, .draenor, .argus, .theFirstWar, .darkPortal, .theSecondWar, .lichKing, .theThirdWar, .wow, .wow1, .wow2, .wow3, .wow4, .wow5, .wow6, .wow7, .wow8, .wow9, .wow10, .opros{
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
  width: 100%;
}
.tittle{
  top: 0;
  background-image: url(image/back/tittle.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1500px;
  min-height: 100vh;
}
.titans{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/back/titans.jpg);
  min-width: 1500px;
}
.panteon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.panteon__img{
  width: 200px;
  height: 266px;
  transition: all 0.5s;
  border-radius: 10px;
  margin: 10px 70px;
}
.panteon__img:hover{
  cursor: pointer;
  opacity: 60%;
}

.wrapper__legion{
  display: flex;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.4);
  gap: 20px;
  margin: 20px 0;
  padding: 0 20px;
}
.wrapper__legion2{
  display: flex;
  height: 490px;
  gap: 20px;
  margin: 20px 0;
}
.wrapper__legion3{
  display: flex;
  height: 600px;
  justify-content: space-between;
}
.wrapper_wow{
  display: flex;
  height: 300px;
  gap: 30px;
}
.wrapper_wow3{
  display: flex;
  height: 260px;
  gap: 30px;
}
.wrapper_wow6{
  display: flex;
  height: 460px;
  gap: 30px;
}
.wrapper_w8{
  display: flex;
  height: 460px;
  gap: 30px;
}
.wrapper_w9{
  display: flex;
  height: 300px;
  gap: 30px;
}
.wrapper_LK{
  display: flex;
  height: 400px;
  gap: 30px;
}
.wrapper_LK2{
  display: flex;
  height: 400px;
  gap: 50px;
}
.wrapper_w2{
  display: flex;
  height: 350px;
  gap: 30px;
}
.wrapper_w22{
  display: flex;
  height: 440px;
  gap: 50px;
}
.wrapper_w23{
  display: flex;
  height: 350px;
  gap: 50px;
}
.wrapper_w3{
  display: flex;
  height: 350px;
  gap: 50px;
}
.wrapper_w32{
  display: flex;
  height: 520px;
  gap: 50px;
}
.wrapper_w33{
  display: flex;
  height: 340px;
  gap: 160px;
}
.wrapper_w1{
  display: flex;
  height: 450px;
  gap: 50px;
}
.wrapper_w11{
  display: flex;
  height: 450px;
  gap: 50px;
}

.img{
  border-radius: 5px;
  transition: opacity 1.5s;
}
.img:hover{
  cursor: pointer;
  opacity: 0.5;
}
.image{
  border-radius: 5px;
  transition: opacity 1.5s;
  width: 85%;
  height: 85%;
  margin: auto;
}
.image:hover{
  cursor: pointer;
  opacity: 0.5;
}
.wrapper_dp1{
  display: flex;
  height: 400px;
  justify-content: space-between;
}
.wrapper_dp2{
  display: flex;
  height: 670px;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 20px;
}

.theBurningLegion{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/back/theBurningLegion.png);
  min-width: 1500px;
}
.draenor{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/back/draenor.png);
  min-width: 1500px;
}
.argus{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/back/arg.png);
  min-width: 1500px;
}
.theFirstWar{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/back/war1.png);
  min-width: 1500px;
}
.darkPortal{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/back/darkPortal.png);
  min-width: 1500px;
}
.theSecondWar{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/back/war2.png);
  min-width: 1500px;
}
.lichKing{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/back/King.png);
  min-width: 1500px;
}
.theThirdWar{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/back/war3.png);
  min-width: 1500px;
}
.wow{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/wow/back/1.jpg);
  min-width: 1500px;
}
.wow2{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/wow/back/2.jpg);
  min-width: 1500px;
}
.wow3{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/wow/back/3.jpg);
  min-width: 1500px;
}
.wow4{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/wow/back/4.jpg);
  min-width: 1500px;
}
.wow5{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/wow/back/5.jpg);
  min-width: 1500px;
}
.wow6{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/wow/back/6.jpg);
  min-width: 1500px;
}
.wow7{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/wow/back/7.jpg);
  min-width: 1500px;
}
.wow8{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/wow/back/8.jpg);
  min-width: 1500px;
}
.wow9{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/wow/back/9.jpg);
  min-width: 1500px;
}
.wow10{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/wow/back/10.jpg);
  min-width: 1500px;
}
.opros{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(image/back/opros.jpg);
  min-width: 1500px;
}
.block{
  height: calc(100vh - 5rem);
  margin: 0.5rem 0;
  padding: 3rem;
  background-color: rgb(68, 68, 68);
  color: aliceblue;
  font-size: 5rem;
}

#floatTip {
  position: absolute; /* Абсолютное позиционирование */
  width: 250px; /* Ширина блока */
  display: none; /* Прячем от показа */
  border: 1px solid #000; /* Параметры рамки */
  padding: 4px; /* Поля вокруг  текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер  шрифта */
  color: #333; /* Цвет текста */
  background: #ffe5ff; /* Цвет фона */
}
/* @media (max-width: 800px) {
  .menu{
    flex-wrap: wrap;
    opacity: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    gap: 10px;
    height: 70px;
  }
  a{
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  a{
    font-size: 13px;
  }
} */